{
    # LetsEncrypt account
    email YOUR_EMAIL
}

# Dashboard
https://dashboard.NETMAKER_BASE_DOMAIN {
    reverse_proxy http://ui:80
}

# API
https://api.NETMAKER_BASE_DOMAIN {
    reverse_proxy http://api:8081
}

# gRPC
https://grpc.NETMAKER_BASE_DOMAIN {
    reverse_proxy h2c://api:50051
}
