---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: netclient
  labels:
    app: netclient
spec:
  selector:
    matchLabels:
      app: netclient
  replicas: 1
  template:
    metadata:
      labels:
        app: netclient
    spec:
      hostNetwork: true
      # affinity:
      #   nodeAffinity:
      #     preferredDuringSchedulingIgnoredDuringExecution:
      #     - weight: 1
      #       preference:
      #         matchExpressions:
      #         - key: <node label>
      #           operator: In
      #           values:
      #           - "<node label value>"
      containers:
      - name: netclient
        image: gravitl/netclient:v0.15.1
        env:
        - name: TOKEN
          value: "TOKEN_VALUE"
        volumeMounts:
        - mountPath: /etc/netclient
          name: etc-netclient
        securityContext:
          privileged: true
      volumes:
      - hostPath:
          path: /etc/netclient
          type: DirectoryOrCreate
        name: etc-netclient