version: "3.4"

services:
  netclient:
    container_name: netclient
    image: 'gravitl/netclient:v0.90.0'
    hostname: netmaker-1
    network_mode: host
    restart: on-failure
    environment:
      TOKEN: "TOKEN_VALUE"
    volumes:
      - /etc/netclient:/etc/netclient
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_MODULE
