name: Publish Docker test tag

on:
    push:
        branches:
            - 'testing'
    workflow-dispatch:

jobs:
    docker:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v1
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v1
            - name: Login to DockerHub
              uses: docker/login-action@v1
              with:
                  registry: ghcr.io
                  username: ${{ secrets.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Build and Push test
              uses: docker/build-push-action@v2
              with:
                  context: .
                  platform: linux/amd64
                  push: true
                  tags: ghcr.io/user/gravitl/netmaker:testing

