name: Build go-builder images

on:
  workflow_dispatch:
  push:
    branches:
      - 'develop'

jobs:
  go-builder:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: SetUp Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to Dockerhub
      uses: docker/login-action@v3
      with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push to docker hub
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        platforms: linux/amd64, linux/arm64, linux/arm/v7
        file: ./docker/Dockerfile-go-builder
        tags: gravitl/go-builder:latest
