name: Publish Docker

on: 
  pull_request:
        branches: 
        - 'develop'
        - 'master' 
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
       - uses: FranzDiebold/github-env-vars-action@v2
       - name: Set Environment Variables
           run: |
             echo "BUILD_VER=v0.0.$GITHUB_RUN_NUMBER" >> $GITHUB_ENV
       -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64, linux/arm64
          push: true
          tags: |
              nusak/nusak:${{ env.CI_REF_NAME_SLUG }}
              nusak/nusak:${{ env.BUILD_VER }}



