name: Publish Docker

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'docker tag'
        required: true
  workflow_call:
    inputs:
      tag:
        type: string
        required: true

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set tag
        run: |
            if [[ -n "${{ inputs.tag }}" ]]; then
              TAG=${{ inputs.tag }}
            elif [[ "${{ github.ref_name }}" == 'master' ]]; then
              TAG="latest"
            else
              TAG="${{ github.ref_name }}"
            fi
            echo "TAG=${TAG}" >> $GITHUB_ENV
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64, linux/arm64, linux/arm/v7
          push: true
          tags: ${{ github.repository }}:${{ env.TAG }}, ${{ github.repository }}:latest
          build-args: | 
            tags=ce

  docker-pro:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set tag
        run: |
            if [[ -n "${{ inputs.tag }}" ]]; then
              TAG=${{ inputs.tag }}
            elif [[ "${{ github.ref_name }}" == 'master' ]]; then
              TAG="latest"
            else
              TAG="${{ github.ref_name }}"
            fi
            echo "TAG=${TAG}" >> $GITHUB_ENV
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - 
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64, linux/arm64
          push: true
          tags: ${{ github.repository }}:${{ env.TAG }}-ee
          build-args: |
            tags=ee
