name: Integration Test

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.19
      - name: Build
        run: |
         env CGO_ENABLED=1 GOOS=linux GOARCH=amd64 go build main.go
         env CGO_ENABLED=1 GOOS=linux GOARCH=amd64 go build -tags=pro main.go

  nmctl:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup go
        uses: actions/setup-go@v4
        with:
          go-version: 1.19
      - name: Build
        run: |
          cd cli
          GOOS=linux GOARCH=amd64 go build -o nmctl
          GOOS=darwin GOARCH=amd64 go build -o nmctl
          GOOS=darwin GOARCH=arm64 go build -o nmctl
          GOOS=windows GOARCH=amd64 go build -o nmctl

  tests:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.19
      - name: run tests
        run: |
          go vet ./...
          go test -p 1 ./... -v
          go test -p 1 ./pro -v --tags pro
        env:
          DATABASE: sqlite
          CLIENT_MODE: "off"

  staticcheck:
    env:
      DATABASE: sqlite
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.19
      - name: run static checks
        run: |
          sudo apt update
          go install honnef.co/go/tools/cmd/staticcheck@latest
          { ~/go/bin/staticcheck  -tags=pro ./... ; }
