name: Integration Test

on:
  push:

jobs:
  tests:
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongo:4.2
        ports:
          - 27017:27017
        env:
          MONGO_INITDB_ROOT_USERNAME: mongoadmin
          MONGO_INITDB_ROOT_PASSWORD: mongopass
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: run tests
        run: |
            go test ./test -v
            go test ./controllers -v
